__pycache__
# PyCharm
.idea/
# virtual environment
venv/
# build
dist/
## setuptools build
src/coh2_live_stats.egg-info/
## pyinstaller build
build/
CoH2LiveStats.spec
## generated
version.py
_coh2livestats.toml
#logs
coh2livestats.log*
build.log*
